.page-about{
  background:$alabaster;

  @include media('<desktop') {
    .col {
      margin: 0 0 30px; 
      text-align: center;
    }
  }

}

.container {
  &-wrapper {
    padding: 89px 0 89px 0;
    
    @include media('<desktop') { 
      & img {
        width: 250px;
      }
    }
  }
}  