.sidenav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media('<desktop') {
    flex-direction: column;
    transition: -webkit-transform 300ms;
    transform: translate(-100%);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e2522;
    transition: 0.5s;
    padding: 0;
  }

  @include media('>=desktop') {
    flex-direction: row;
    margin: 22px 13px 0 0;
  }

  & li {
    list-style-type: none;
    padding: 0 0 0 33px;
    font-size: 27px;
    height: 30px;
    
    @include media('>=desktop') {
      font-size: 15px;
    }
  
    @include media('<desktop') {
      padding: 28px 33px;
    }
  }
  & a {
    color: #b4b4b4;
    transition: 0.2s all;
    border-bottom: 3px solid transparent;

    &:hover {
      text-decoration: none;
      color: $white;
      border-bottom: 3px solid $mandys-pink;
      cursor: pointer;
    }
  }
}

.nav.clicked .sidenav {
  -webkit-transform: translate(0%);
  transform: translate(0%);
}

.openbtn {
  color: white;
  cursor: pointer;
  z-index: 1;
  font-size: 35px;
  @include media('>=desktop') {
    display: none;
  }
}

