.page-header {
  position: absolute;
  width: 100%;
}

.header {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0 0;
    align-items: baseline;
  }
} 

.logo {
  color: $white; 
  &:hover {
    color: $white; 
    text-decoration: none;
  }
  @include media('<desktop') {
    text-align: center;
  }

  & h3 {
    color: $mandys-pink;
    font-family: $second-font;
  }

  & p {
    letter-spacing: 1.3px;
    font-size: 14px;
  }
}