p {
    margin: 0 0 20px;
    font-family: 'Lato', sans-serif;
    line-height: 1.600em;
}

h1 {
    font-size: 44px;
    line-height: 1.2em;
    font-family: $second-font;
}

h2 {
    font-size: 35px;
    line-height: 1.286em;
    letter-spacing: 0.1em;
    font-family: $second-font;
    color: $emperor;
    margin: 0 0 28px;
}

h3 {
    font-size: 32px;
    line-height: 1.286em;
    letter-spacing: 0.1em;
}